<div class="info">
  <h2>
    <a routerLink="instituicoes">Não sofra em silêncio!</a>
  </h2>
  <p>No contexto da pandemia de covid-19, os atendimentos da Polícia Militar a
    mulheres vítimas de violência aumentaram 44,9% no estado de São Paulo.</p>
  <p>O que poucos sabem é que a violência doméstica vai muito além da agressão física ou do estupro.
     A Lei Maria da Penha classifica os tipos de abuso contra a mulher nas seguintes categorias: violência patrimonial,
     violência sexual, violência física, violência moral e violência psicológica.</p>
  <p>
    Existem diversas instituições engajadas no combate à violência contra a mulher.
    <a routerLink="instituicoes">Clique aqui</a> para entrar em contato com instituições
     e poder ajudar.
  </p>
</div>

<app-depoimento-card *ngFor="let depoimento of depoimentos"
  [depoimento]="depoimento">
</app-depoimento-card>

<div class="info">
  Conheça a iniciativa <a routerLink="sobre">Amor não machuca</a>.
</div>

<div class="info">
  Confira as <a routerLink="leis">principais leis</a> relacionadas à violência contra a mulher.
</div>
